@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Magiona Display';
  src: url('fonts/magiona-display.ttf') format('truetype'); /* Update the path and format as needed */
  font-weight: normal;
  font-style: normal;
}